@import "http://webfonts.ru/import/code.css";
@import "http://webfonts.ru/import/robotocondensed.css";
@import "http://webfonts.ru/import/opensans.css";
@import "http://webfonts.ru/import/20db.css";

input:checked + span{	
	color: blue;
}
.all>input:checked + span{	
	color:red;
}
.buttom {
	border: 1px solid grey;
	width: 100%;
	border-radius: 3px;
	height: 35px;
	font-family: 'Roboto Condensed';
	background: rgba(0, 0, 0, 0.5);
	color: #fff;
}

.buttom:hover {
	border: 1px solid #fff;
	color: #fff;
}
.bodyfon {
	background: rgba(0, 0, 0, 0.8);	
}
.mobile>img {
	width: 40%;
}

.mobile>.caption h3 {
	font-size: 1.5em;
}
.mobile>.caption h3, p {
	font-family: 'Roboto Condensed';
	color: #fff;
	width: 40%;
	text-align: center;
}
.more a {	
	color: rgba(255, 255, 255, 0.7);
}
.more a:hover,.more a:focus {
	color: #fff;
}
.logo {
	font-family: 'Code';
	font-weight: 600; 
	color: #fff;
}
.logo:hover {
	color: grey;
}
.votes {
	margin-top: 100px;	
	height: 100%;
	margin-bottom: 100px;
}
.vsego {
	font-family: 'Roboto Condensed';
	color: #fff;
}
.panel.panel-default>.panel-heading.box {
	background: rgba(0, 0, 0, 0.8);
	color: #fff;
}


.panel-heading>h4 {
	font-family: 'Roboto Condensed';
}
.panel-body>label {
	margin: 10px;
}
.panel-body>label>span {
	font-family: 'Roboto Condensed';
	margin-left: 5px;
}

#footer {
	
	position: fixed;
	bottom: 0;
	border-top: 1px solid #000;
	width: 100%;
	height: 70px;
	background: #222222;
}
#footer  p {
	padding-top: 25px;
	font-family: 'Roboto Condensed';
	color: #fff;
}

/* monitors and laptops */
@media screen and (min-width: 1241px) and (max-width: 1440px){


}
/* tablet */
@media screen and (min-width: 1024px) and (max-width: 1240px)  {



}
@media screen and (min-width: 768px) and (max-width: 1024px) {



}
/* mobile */
@media screen and (max-width: 768px) {
.mobiles {
	margin-bottom: 50px;
}
}
